<h1>Test Smart Contracts</h1>

<form>

    <p>CurrentValue: {{currentValue}}</p>
    <input type="number" [(ngModel)]="valueToIncrement" name="valueToIncrement">
    <input type="number" [(ngModel)]="valueToDecrement" name="valueToDecrement">

    <button type="submit" (click)="sumValue()">Increment</button>
    <button type="submit" (click)="subValue()">Decrement</button>

</form>